@import url("./colors.css");
* {
    font-family: "RobotoMono Nerd Font", sans-serif;
    border-radius: 20px;
    font-size: 10pt;
    min-height: 0px;
}

.module {
    padding: 2px 20px;
    background-color: @background;
    color: @foreground;
    border: 4px solid @selection;
}
@import url("./colors.css");

#workspaces button {
    padding: 0 10px;
    background: @background;
    color: @foreground;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @background;
}
#workspaces button.active {
    color: @cyan;
}
#workspaces button.urgent {
    color: @red;
}
#clock {
    padding: 2px 20px;
    background: @background;
}
#memory {
    padding: 2px 20px;
    padding-right: 25px;
    background: @background;
}
#battery {
    padding: 2px 20px;
    padding-right: 25px;
    background: @background;
}
#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}
#battery.normal{
    color: @cyan;
}
#battery.full {
    color: @green;
}

#cpu {
    padding: 2px 20px;
    padding-right: 25px;
    background: @background;
}
#window {
    padding: 2px 20px;
    background: @background;
}
#power-profiles-daemon {
    padding: 2px 20px;
    background: @background;
}
#power-profiles-daemon.power-saver {
    color: @green
}
#power-profiles-daemon.balanced {
    color: @cyan
}
#power-profiles-daemon.performance {
    color: @yellow
}

#waybar {
    background-color: @transparent;
}

#workspaces {
    background-color: @background;
    padding: 0px 0px;
}
#workspaces button {
    padding: 2px 10px;
    background: @background;
    color: @foreground;
}
#workspaces button.active {
    color: @background;
    min-width: 30px;
    background:@foreground;
    transition: all 0.2s ease-in-out;
}
#workspaces button.urgent {
    color: @red;
}

#icon {
}

#battery.warning {
    color: @yellow;
}
#battery.critical {
    color: @red;
}
#battery.normal{
    color: @foreground;
}
#battery.full {
    color: @foreground;
}

#power-profiles-daemon.power-saver {
    color: @green
}
#power-profiles-daemon.balanced {
    color: @cyan
}
#power-profiles-daemon.performance {
    color: @yellow
}

.custom-spotify {
    padding: 0 10px;
    margin: 0 4px;
    background-color: #1DB954;
    color: black;
}
